.element {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #fff;
  /* border: none; */
  max-width: 100%;
}

.element :last-child {
  padding-bottom: 10px;
}

/* .element__video {
  max-width: 100%;
} */

.element__link {
  max-width: 100%;
  padding: 0;
}

.element__image {
  max-width: 100%;
  height: 225px;
  object-fit: cover;
  object-position: top;
}

.element__title {
  padding: 0 10px;
  /* display: inline; */
}

.element__github {
  padding: 0 10px;
  text-decoration: none;
  font-size: 13px;
  color: gray;
}

.element__description{
  padding: 0 10px;
}