.lead {
  margin: 20px 40px 40px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #fff;
  text-align: center;
}

.lead__title {
  font-size: 32px;
}

.lead__title span {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  color: #5ecd88;
}

.lead__line {
  width: 75%;
  margin: 10px auto;
  opacity: .1;
}

.lead__description {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .lead {
    margin: 10px 20px 20px;
  }

  .lead__title {
    font-size: 24px;
  }

  .lead__line {
    width: 90%;
  }

  .lead__description {
    font-size: 16px;
  }
}