.not-found {
  flex-grow: 1;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

.not-found__content {
  margin: auto auto;
  color: #2c2d35;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 72px;
  text-align: center;
}

.not-found__title {
  font-size: 248px;
}

.not-found__description {
  font-size: 36px;
}

.not-found__content span {
  color: #5ecd88;
}

@media screen and (max-width: 767px) {
  .not-found__title {
    font-size: 124px;
  }
  .not-found__description {
    font-size: 18px;
  }
}