.footer {
  margin: 0 40px;
  padding: 20px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #b3b3b1;
  font-size: 14px;
}

.footer__copyright {
  text-transform: uppercase;
  
}

.footer__link:hover {
  color: #fff;
}

.footer__link {
  text-decoration: none;
  color: #b3b3b1;
}




@media screen and (max-width: 767px) {
  .footer {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 12px;
  }

}