.footer {
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 1250px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #b3b3b1;
  font-size: 14px;
}

.footer__copyright {
  text-transform: uppercase;
  
}

.footer__link:hover {
  color: #fff;
}

.footer__link {
  text-decoration: none;
  color: #b3b3b1;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-right: 15px;
    padding-left: 15px;
    /* font-size: 12px; */
  }

}