.elements {
  margin: 0 40px;
  padding: 70px 0;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(1px, 370px));
  gap: 45px 30px;

  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .elements {
    margin: 0 20px;
    padding: 40px 0;
  }
}