.elements {
  background-color: #f7f7f7;
  flex-grow: 1;
}

.elements-content {
  margin: 0 auto;
  padding: 70px 40px;
  max-width: 1250px;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(100px, 370px));
  gap: 45px 30px;
  
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .elements-content {
    padding: 20px 15px 40px;
  }
}